<div>
    <div>
        <mat-toolbar class="toolbar">
            <span>Lane Detection</span>
          </mat-toolbar>
    </div>
    <div class="background" *ngIf="!showResults">
        <div class="check">
            <mat-checkbox [checked]="isVideo">Is this a video?</mat-checkbox>
        </div>
        <div class="img-card">
            <angular-file-uploader 
                [config] = "afuConfig">
            </angular-file-uploader>
        </div>
        <div class="upload">
            <button mat-stroked-button color="accent" (click)="showResult()">Upload</button>
        </div>
    </div>
    <div class="background" *ngIf="showResults">
        <div class="check">
            <h2>Results</h2>
        </div>
        <div class="img-card">
            <img src="../assets/test_label_14.jpg" width="256" height="256">
        </div>
    </div>
    <div>
        <mat-toolbar class="about-project">
            <p class="name-text">CS 455 Class Project </p>
            <p class="name-text"> ----- </p>
            <p class="name-text">Christopher Etinas | Jakob Haehre | Keely Mashburn </p>
        </mat-toolbar>
    </div>
</div>