.toolbar {
    font-size: 1.5rem;
    background-color: #9381ff;
    color: #f8f7ff;
    height: 10vh;
    width: 100vw;
}

.background {
    background-color: #f8f7ff;
    height: 80vh;
    width: 100vw;
}

.project-name {
    left: 88vw;
    font-size: 1em;
    position: absolute;
}

.about-project {
    height: 10vh;
    position: absolute;
    width: 100vw;
    font-size: 0.95em;
    background-color: #b8b8ff;
    color: #f8f7ff;
}

.name-text {
    position: relative;
    left: 33vw;
    margin: 0.5em;
    text-align: center;
}

.img-card {
  display: flex;
  position: relative;
  justify-content: center;
  height: fit-content;
  top: 20vh;
  text-align: center;
}

.spin-card {
    display: flex;
    position: relative;
    justify-content: center;
    height: fit-content;
    top: 20vh;
    left: 42.5vw;
    width: 15vw;
    margin-bottom: 10vh;
}

.up-button {
    display: flex;
    position: relative;
    margin-top: 15vh;
    justify-content: center;
}