<div>
    <div>
        <mat-toolbar class="toolbar">
            <span>Lane Detection</span>
          </mat-toolbar>
    </div>
    <div class="background">
        <div class="check">
            <mat-checkbox [checked]="isVideo">Is this a video?</mat-checkbox>
        </div>
        <div *ngIf="!isUploading && isVideo" class="img-card">
            <angular-file-uploader 
                [config] = "afuConfig" >
            </angular-file-uploader>
        </div>
        <div *ngIf="!isUploading && !isVideo" class="img-card">
            <angular-file-uploader 
                [config] = "afuConfig2">
            </angular-file-uploader>
        </div>
    </div>
    <div>
        <mat-toolbar class="about-project">
            <p class="name-text">CS 455 Class Project </p>
            <p class="name-text"> ----- </p>
            <p class="name-text">Christopher Etinas | Jakob Haehre | Keely Mashburn </p>
        </mat-toolbar>
    </div>
</div>