<div>
    <div>
        <mat-toolbar class="toolbar">
            <span>Lane Detection</span>
          </mat-toolbar>
    </div>
    <div class="background">
        <div>
            <div class="img-card">
                <angular-file-uploader
                [config]="afuConfig">
                </angular-file-uploader>
            </div>
            <div *ngIf="isUploading" class="spin-card">
                <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
    <div>
        <mat-toolbar class="about-project">
            <p class="name-text">CS 455 Class Project </p>
            <p class="name-text"> ----- </p>
            <p class="name-text">Christopher Etinas | Jakob Haehre | Keely Mashburn </p>
        </mat-toolbar>
    </div>
</div>